version: "3.9"

services:
  prometheus:
    image: prom/prometheus:v2.53.0
    volumes:
      - ../deploy/configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - etl_net
      - monitoring_net
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.3
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./grafana-provisioning:/etc/grafana/provisioning
      - ../deploy/configs/grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - etl_net
      - monitoring_net
    ports:
      - "3000:3000"

networks:
  etl_net:
    external: true
  monitoring_net:
    external: true


